##
# Default server configuration
##
server {

    listen 80 default_server;
    listen [::]:80 default_server;

    root /var/www/html;
    index index.html index.htm index.nginx-debian.html;
    server_name _;

    location / {
        # First attempt to serve request as file, then
        # as directory, then fall back to displaying a 404.
        try_files $uri $uri/ =404;
    }

}

##
# {{ domain_name }}
##
server {

    root /var/www/html;
    index index.html index.htm index.nginx-debian.html;
    server_name {{ domain_name }};

    location / {
        # First attempt to serve request as file, then
        # as directory, then fall back to displaying a 404.
        try_files $uri $uri/ =404;
    }

    listen [::]:443 ssl ipv6only=on;
    listen 443 ssl;
    ssl_certificate {{ letsencrypt_fullchain }};
    ssl_certificate_key {{ letsencrypt_privkey }};
    include {{ nginx_options_ssl }};
    ssl_dhparam {{ nginx_dhparams }};

}

##
# {{ domain_name }} - http redirect
##
server {

    if ($host = {{ domain_name }}) {
        return 301 https://$host$request_uri;
    }

    listen 80 ;
    listen [::]:80 ;
    server_name {{ domain_name }};
    return 404;

}
